<div id="chess">
  <table border="1">
    <tr>
      <td id="0" (click)="clickField('0')" [ngClass]="{'black-field':clicked1!=0, 'clicked-field':clicked1 ==0 || isAvailable('0')}"><img src={{fields[0]}}></td>
      <td id="1" (click)="clickField('1')" [ngClass]="{'white-field':clicked1!=1, 'clicked-field':clicked1 ==1 || isAvailable('1')}"><img src={{fields[1]}}></td>
      <td id="2" (click)="clickField('2')" [ngClass]="{'black-field':clicked1!=2, 'clicked-field':clicked1 ==2 || isAvailable('2')}"><img src={{fields[2]}}></td>
      <td id="3" (click)="clickField('3')" [ngClass]="{'white-field':clicked1!=3, 'clicked-field':clicked1 ==3 || isAvailable('3')}"><img src={{fields[3]}}></td>
      <td id="4" (click)="clickField('4')" [ngClass]="{'black-field':clicked1!=4, 'clicked-field':clicked1 ==4 || isAvailable('4')}"><img src={{fields[4]}}></td>
      <td id="5" (click)="clickField('5')" [ngClass]="{'white-field':clicked1!=5, 'clicked-field':clicked1 ==5 || isAvailable('5')}"><img src={{fields[5]}}></td>
      <td id="6" (click)="clickField('6')" [ngClass]="{'black-field':clicked1!=6, 'clicked-field':clicked1 ==6 || isAvailable('6')}"><img src={{fields[6]}}></td>
      <td id="7" (click)="clickField('7')" [ngClass]="{'white-field':clicked1!=7, 'clicked-field':clicked1 ==7 || isAvailable('7')}"><img src={{fields[7]}}></td>
    </tr>
    <tr>
      <td id="8" (click)="clickField('8')" [ngClass]="{'white-field':clicked1!=8, 'clicked-field':clicked1 ==8 || isAvailable('8')}"><img src={{fields[8]}}></td>
      <td id="9" (click)="clickField('9')" [ngClass]="{'black-field':clicked1!=9, 'clicked-field':clicked1 ==9 || isAvailable('9')}"><img src={{fields[9]}}></td>
      <td id="10" (click)="clickField('10')" [ngClass]="{'white-field':clicked1!=10, 'clicked-field':clicked1 ==10 || isAvailable('10')}"><img src={{fields[10]}}></td>
      <td id="11" (click)="clickField('11')" [ngClass]="{'black-field':clicked1!=11, 'clicked-field':clicked1 ==11 || isAvailable('11')}"><img src={{fields[11]}}></td>
      <td id="12" (click)="clickField('12')" [ngClass]="{'white-field':clicked1!=12, 'clicked-field':clicked1 ==12 || isAvailable('12')}"><img src={{fields[12]}}></td>
      <td id="13" (click)="clickField('13')" [ngClass]="{'black-field':clicked1!=13, 'clicked-field':clicked1 ==13 || isAvailable('13')}"><img src={{fields[13]}}></td>
      <td id="14" (click)="clickField('14')" [ngClass]="{'white-field':clicked1!=14, 'clicked-field':clicked1 ==14 || isAvailable('14')}"><img src={{fields[14]}}></td>
      <td id="15" (click)="clickField('15')" [ngClass]="{'black-field':clicked1!=15, 'clicked-field':clicked1 ==15 || isAvailable('15')}"><img src={{fields[15]}}></td>
    </tr>
    <tr>
      <td id="16" (click)="clickField('16')" [ngClass]="{'black-field':clicked1!=16, 'clicked-field':clicked1 ==16 || isAvailable('16')}"><img src={{fields[16]}}></td>
      <td id="17" (click)="clickField('17')" [ngClass]="{'white-field':clicked1!=17, 'clicked-field':clicked1 ==17 || isAvailable('17')}"><img src={{fields[17]}}></td>
      <td id="18" (click)="clickField('18')" [ngClass]="{'black-field':clicked1!=18, 'clicked-field':clicked1 ==18 || isAvailable('18')}"><img src={{fields[18]}}></td>
      <td id="19" (click)="clickField('19')" [ngClass]="{'white-field':clicked1!=19, 'clicked-field':clicked1 ==19 || isAvailable('19')}"><img src={{fields[19]}}></td>
      <td id="20" (click)="clickField('20')" [ngClass]="{'black-field':clicked1!=20, 'clicked-field':clicked1 ==20 || isAvailable('20')}"><img src={{fields[20]}}></td>
      <td id="21" (click)="clickField('21')" [ngClass]="{'white-field':clicked1!=21, 'clicked-field':clicked1 ==21 || isAvailable('21')}"><img src={{fields[21]}}></td>
      <td id="22" (click)="clickField('22')" [ngClass]="{'black-field':clicked1!=22, 'clicked-field':clicked1 ==22 || isAvailable('22')}"><img src={{fields[22]}}></td>
      <td id="23" (click)="clickField('23')" [ngClass]="{'white-field':clicked1!=23, 'clicked-field':clicked1 ==23 || isAvailable('23')}"><img src={{fields[23]}}></td>
    </tr>
    <tr>
      <td id="24" (click)="clickField('24')" [ngClass]="{'white-field':clicked1!=24, 'clicked-field':clicked1 ==24 || isAvailable('24')}"><img src={{fields[24]}}></td>
      <td id="25" (click)="clickField('25')" [ngClass]="{'black-field':clicked1!=25, 'clicked-field':clicked1 ==25 || isAvailable('25')}"><img src={{fields[25]}}></td>
      <td id="26" (click)="clickField('26')" [ngClass]="{'white-field':clicked1!=26, 'clicked-field':clicked1 ==26 || isAvailable('26')}"><img src={{fields[26]}}></td>
      <td id="27" (click)="clickField('27')" [ngClass]="{'black-field':clicked1!=27, 'clicked-field':clicked1 ==27 || isAvailable('27')}"><img src={{fields[27]}}></td>
      <td id="28" (click)="clickField('28')" [ngClass]="{'white-field':clicked1!=28, 'clicked-field':clicked1 ==28 || isAvailable('28')}"><img src={{fields[28]}}></td>
      <td id="29" (click)="clickField('29')" [ngClass]="{'black-field':clicked1!=29, 'clicked-field':clicked1 ==29 || isAvailable('29')}"><img src={{fields[29]}}></td>
      <td id="30" (click)="clickField('30')" [ngClass]="{'white-field':clicked1!=30, 'clicked-field':clicked1 ==30 || isAvailable('30')}"><img src={{fields[30]}}></td>
      <td id="31" (click)="clickField('31')" [ngClass]="{'black-field':clicked1!=31, 'clicked-field':clicked1 ==31 || isAvailable('31')}"><img src={{fields[31]}}></td>
    </tr>
    <tr>
      <td id="32" (click)="clickField('32')" [ngClass]="{'black-field':clicked1!=32, 'clicked-field':clicked1 ==32 || isAvailable('32')}"><img src={{fields[32]}}></td>
      <td id="33" (click)="clickField('33')" [ngClass]="{'white-field':clicked1!=33, 'clicked-field':clicked1 ==33 || isAvailable('33')}"><img src={{fields[33]}}></td>
      <td id="34" (click)="clickField('34')" [ngClass]="{'black-field':clicked1!=34, 'clicked-field':clicked1 ==34 || isAvailable('34')}"><img src={{fields[34]}}></td>
      <td id="35" (click)="clickField('35')" [ngClass]="{'white-field':clicked1!=35, 'clicked-field':clicked1 ==35 || isAvailable('35')}"><img src={{fields[35]}}></td>
      <td id="36" (click)="clickField('36')" [ngClass]="{'black-field':clicked1!=36, 'clicked-field':clicked1 ==36 || isAvailable('36')}"><img src={{fields[36]}}></td>
      <td id="37" (click)="clickField('37')" [ngClass]="{'white-field':clicked1!=37, 'clicked-field':clicked1 ==37 || isAvailable('37')}"><img src={{fields[37]}}></td>
      <td id="38" (click)="clickField('38')" [ngClass]="{'black-field':clicked1!=38, 'clicked-field':clicked1 ==38 || isAvailable('38')}"><img src={{fields[38]}}></td>
      <td id="39" (click)="clickField('39')" [ngClass]="{'white-field':clicked1!=39, 'clicked-field':clicked1 ==39 || isAvailable('39')}"><img src={{fields[39]}}></td>
    </tr>
    <tr>
      <td id="40" (click)="clickField('40')" [ngClass]="{'white-field':clicked1!=40, 'clicked-field':clicked1 ==40 || isAvailable('40')}"><img src={{fields[40]}}></td>
      <td id="41" (click)="clickField('41')"  [ngClass]="{'black-field':clicked1!=41, 'clicked-field':clicked1 ==41 || isAvailable('41')}"><img src={{fields[41]}}></td>
      <td id="42" (click)="clickField('42')" [ngClass]="{'white-field':clicked1!=42, 'clicked-field':clicked1 ==42 || isAvailable('42')}"><img src={{fields[42]}}></td>
      <td id="43" (click)="clickField('43')" [ngClass]="{'black-field':clicked1!=43, 'clicked-field':clicked1 ==43 || isAvailable('43')}"><img src={{fields[43]}}></td>
      <td id="44" (click)="clickField('44')" [ngClass]="{'white-field':clicked1!=44, 'clicked-field':clicked1 ==44 || isAvailable('44')}"><img src={{fields[44]}}></td>
      <td id="45" (click)="clickField('45')" [ngClass]="{'black-field':clicked1!=45, 'clicked-field':clicked1 ==45 || isAvailable('45')}"><img src={{fields[45]}}></td>
      <td id="46" (click)="clickField('46')" [ngClass]="{'white-field':clicked1!=46, 'clicked-field':clicked1 ==46 || isAvailable('46')}"><img src={{fields[46]}}></td>
      <td id="47" (click)="clickField('47')"  [ngClass]="{'black-field':clicked1!=47, 'clicked-field':clicked1 ==47 || isAvailable('47')}"><img src={{fields[47]}}></td>
    </tr>
    <tr>
      <td id="48" (click)="clickField('48')" [ngClass]="{'black-field':clicked1!=48, 'clicked-field':clicked1 ==48 || isAvailable('48')}"><img src={{fields[48]}}></td>
      <td id="49" (click)="clickField('49')" [ngClass]="{'white-field':clicked1!=49, 'clicked-field':clicked1 ==49 || isAvailable('49')}"><img src={{fields[49]}}></td>
      <td id="50" (click)="clickField('50')" [ngClass]="{'black-field':clicked1!=50, 'clicked-field':clicked1 ==50 || isAvailable('50')}"><img src={{fields[50]}}></td>
      <td id="51" (click)="clickField('51')" [ngClass]="{'white-field':clicked1!=51, 'clicked-field':clicked1 ==51 || isAvailable('51')}"><img src={{fields[51]}}></td>
      <td id="52" (click)="clickField('52')" [ngClass]="{'black-field':clicked1!=52, 'clicked-field':clicked1 ==52 || isAvailable('52')}"><img src={{fields[52]}}></td>
      <td id="53" (click)="clickField('53')" [ngClass]="{'white-field':clicked1!=53, 'clicked-field':clicked1 ==53 || isAvailable('53')}"><img src={{fields[53]}}></td>
      <td id="54" (click)="clickField('54')" [ngClass]="{'black-field':clicked1!=54, 'clicked-field':clicked1 ==54 || isAvailable('54')}"><img src={{fields[54]}}></td>
      <td id="55" (click)="clickField('55')" [ngClass]="{'white-field':clicked1!=55, 'clicked-field':clicked1 ==55 || isAvailable('55')}"><img src={{fields[55]}}></td>
    </tr>
    <tr>
      <td id="56" (click)="clickField('56')" [ngClass]="{'white-field':clicked1!=56, 'clicked-field':clicked1 ==56 || isAvailable('56')}"><img src={{fields[56]}}></td>
      <td id="57" (click)="clickField('57')" [ngClass]="{'black-field':clicked1!=57, 'clicked-field':clicked1 ==57 || isAvailable('57')}"><img src={{fields[57]}}></td>
      <td id="58" (click)="clickField('58')" [ngClass]="{'white-field':clicked1!=58, 'clicked-field':clicked1 ==58 || isAvailable('58')}"><img src={{fields[58]}}></td>
      <td id="59" (click)="clickField('59')" [ngClass]="{'black-field':clicked1!=59, 'clicked-field':clicked1 ==59 || isAvailable('59')}"><img src={{fields[59]}}></td>
      <td id="60" (click)="clickField('60')" [ngClass]="{'white-field':clicked1!=60, 'clicked-field':clicked1 ==60 || isAvailable('60')}"><img src={{fields[60]}}></td>
      <td id="61" (click)="clickField('61')" [ngClass]="{'black-field':clicked1!=61, 'clicked-field':clicked1 ==61 || isAvailable('61')}"><img src={{fields[61]}}></td>
      <td id="62" (click)="clickField('62')" [ngClass]="{'white-field':clicked1!=62, 'clicked-field':clicked1 ==62 || isAvailable('62')}"><img src={{fields[62]}}></td>
      <td id="63" (click)="clickField('63')" [ngClass]="{'black-field':clicked1!=63, 'clicked-field':clicked1 ==63 || isAvailable('63')}"><img src={{fields[63]}}></td>
    </tr>
  </table>
</div>

<button type="button" class="btn btn-success" (click)="startGame()" >Start game</button>
<div border="1" id="console">
  <div *ngFor="let message of messages">{{message}}</div>
</div>